@use '../utilities/variables' as *;

@media (min-width: 1200px) {

  // navbar
  .navbar {
    .nav-link {
      font-size: 0.9rem;
    }
  }

    // footer
  .site-footer {
    .footer-grid {
      grid-template-columns: 2fr 1fr 1fr 1fr;
      gap: 3rem;
      margin-bottom: 3rem;
    }

    .footer-brand {
      grid-column: auto;   // ← resetea el span de tablet
    }
  }

}