@use '../utilities/variables' as *;
@use '../pages/proyectos' as *;
@use '../components/navbar' as *;

@media (min-width: 768px) {
  .proj-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .site-footer {
    .footer-grid {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .footer-brand {
      grid-column: 1 / -1;
    }
  }
}